@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1000;
}

header > .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1400px;
          flex: 0 1 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 118px;
  height: 55px;
  z-index: 1000;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__a {
  font-size: 18px;
  font-weight: 700;
  color: #161828;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  margin: 0 30px;
}

.header__a:hover {
  color: #9166F0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header__a-in {
  font-size: 18px;
  font-weight: 700;
  color: #9166F0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  margin: 0 30px;
  transition: color 0.5s;
}

.header__a-in:hover {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #6642b4;
}

.header__a-up {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  margin: 0 30px;
  background-color: #9166F0;
  -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
          box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
  border-radius: 10px;
  padding: 16px 32px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0;
}

.header__a-up:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #6642b4;
  -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.8);
          box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.8);
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 1000;
}

.header__burger > span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #111;
}

.header__burger > span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__burger > span:nth-child(2) {
  top: 48%;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__burger > span:nth-child(3) {
  top: 95%;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__burger.active > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #9166F0;
}

.header__burger.active > span:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #9166F0;
}

.header__burger.active > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #9166F0;
}

.main {
  width: 100%;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}

.main > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.main__h1 {
  font-weight: 900;
  font-size: 96px;
  margin-bottom: 25px;
}

.main__h3 {
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  color: #646679;
  margin-bottom: 50px;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__link-acc {
  font-weight: 500;
  font-size: 16px;
  padding: 20px 30px;
  background-color: #fff;
  color: #9166F0;
  -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
          box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__link-acc:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.8);
          box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.8);
}

.main__link-play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #9166F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__link-play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__link-play > img {
  width: 40%;
  height: 40%;
  margin-left: 5px;
  display: block;
}

.main__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__img > img {
  display: block;
  width: 100%;
  height: auto;
}

.why {
  padding: 50px 0;
}

.why__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why__h2 {
  font-weight: 900;
  font-size: 52px;
  text-align: center;
}

.why__h4 {
  font-weight: 450;
  font-size: 18px;
  color: #646679;
  text-align: center;
  max-width: 560px;
}

.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.why__item {
  max-width: 400px;
  height: auto;
}

.why__item-icon {
  text-align: center;
  margin-bottom: -20px;
}

.why__item-title {
  text-align: center;
  font-size: 32px;
  font-weight: 450;
  font-weight: bold;
}

.why__item-text {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #646679;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #161828;
}

.container {
  max-width: 1370px;
  padding: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .main__h1 {
    font-size: 78px;
  }

  .main__h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: calc(118px * 0.75);
    height: calc(55px * 0.75);
  }

  .header__a {
    margin: 0 18px;
  }

  .header__a-in {
    margin: 0 15px;
  }

  .header__a-up {
    margin: 0 15px;
    padding: 12px 24px;
  }

  .main__h1 {
    font-size: 68px;
  }

  .main__h3 {
    font-size: 15px;
  }

  .main__body {
    width: 55%;
  }

  .main__img {
    width: 45%;
  }

  .main__link-play {
    margin: 0 30px;
  }
}

@media screen and (max-width: 820px) {
  .main__h1 {
    font-size: 60px;
  }

  .main__h3 {
    font-size: 13px;
  }

  .main__link-play {
    margin: 0 20px;
  }

  .main__link-acc {
    font-size: 15px;
    padding: 15px 24px;
  }
}

@media screen and (max-width: 768px) {
  .header__link {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.719);
    overflow: auto;
  }

  .header__link.active {
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
  }

  .header__li {
    margin: 30px 0;
  }

  .header__a {
    font-size: 30px;
    margin: 0;
  }

  .header__burger {
    display: block;
  }

  .main > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__btn {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
  }

  .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .main__img {
    width: 80%;
  }

  .main__h1 {
    margin-bottom: 10px;
    font-size: 78px;
  }

  .main__h3 {
    margin-bottom: 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .main__h1 {
    margin-bottom: 10px;
    font-size: 65px;
  }

  .main__h3 {
    margin-bottom: 0px;
    font-size: 15px;
  }

  .main__h3 > br {
    display: none;
  }
}

@media screen and (max-width: 465px) {
  .main__h1 {
    margin-bottom: 10px;
    font-size: 54px;
  }

  .main__h3 {
    margin-bottom: 0px;
  }

  .main__link-acc {
    font-size: 13px;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
            box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
  }

  .main__link-play {
    width: 40px;
    height: 40px;
    margin: 0 15px;
  }

  .main {
    padding: 50px 0 100px 0;
  }
}

@media screen and (max-width: 425px) {
  .header__a {
    font-size: 24px;
  }

  .header__a-in {
    font-size: 14px;
    margin: 0 10px;
  }

  .header__a-up {
    font-size: 14px;
    margin: 0 10px;
    border-radius: 10px;
    padding: 8px 16px;
  }

  .header__logo {
    width: calc(118px * 0.5);
    height: calc(55px * 0.5);
  }

  .header__li {
    margin: 20px 0;
  }
}

@media screen and (max-width: 375px) {
  .main__h1 {
    margin-bottom: 10px;
    font-size: 45px;
  }

  .main__link-acc {
    font-size: 13px;
    padding: 7px 12px;
    -webkit-box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
            box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
  }

  .main__link-play {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }

  .main__p {
    font-size: 13px;
  }
}